body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.base {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.btn {
  margin-bottom: 20px;
}

/*.defloading {
  margin-left: 50px;*/
